/*Full screen background image, responsive and centered*/
body {
    background: url("../images/employee-working.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Opacity to make the backgrounds semitransparent*/
.navbar {
    opacity: 0.9;
}

footer {
    opacity: 0.9;
}

.section {
    opacity: 0.8;
}

/*Changed text alignement of the main paragraph*/
main p {
    text-align: justify;
}

.background-semi-white {
    background-color: rgba(255, 255, 255, 0.507);
}

/*projects*/
.projects-main {
    padding: 2.6% 1% 3% 1%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.507);
}

/*contact*/
.contact-main {
    padding: 2.6% 1% 3% 1%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.507);
}

.contact-main a {
    text-decoration: none;
    color: rgb(52, 72, 180);
}