/*Full screen background image, responsive and centered*/
body {
    background: url("../images/employee-working.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Opacity to make the backgrounds semitransparent*/
.navbar {
    opacity: 0.9;
}

footer {
    opacity: 0.9;
}

.section {
    opacity: 0.8;
}

/*Changed text alignement of the main paragraphs*/
main p {
    text-align: justify;
}

/*white semitransparent background for the main content*/
.background-semi-white {
    background-color: rgba(255, 255, 255, 0.507);
}

/*Fix for the semitransparent background height in small screens*/
@media only screen and (max-width: 768px) {
    .background-semi-white {
        height: auto!important;
        min-height: 100vh;
    }
  }